@keyframes animate_box_in {
    from {opacity: 0;}
    to {opacity: 1;}
}

#board-div {
    height: 600px;
    background: #555;
}
.create-card {
    color: black;
}
.home-card {
    color: black;
    background-color: white;
    transition: background-color .5s;
}
.home-card:hover {
    background-color: #ffd;
}
.invalid-form {
    font-size: .8em;
    color: red;
}
.link-no-style {
	text-decoration: none;
	color: inherit;
}
.link-no-style:hover {
	text-decoration: none;
	color: inherit;
}
.login-card {
    color: black;
}
.page-container {
    background: #333;
    height: 100%;
    color: white;
    padding-top: 5rem;
}
.purchased-box {
    color: inherit !important;
    text-decoration: none !important;
}
.purchased-box:hover {
    cursor: pointer;
}
.stats {
    background: #666;
    padding: 10px;
}
.title {
    font-size: 8em;
    text-align: center;
}
.subtitle {
    font-size: 2em;
    font-style: italic;
    color: #ddd;
    text-align: center;
}
.unpurchased-box, .purchased-box {
    text-align: center;
    font-size: 2em;
    color: inherit;
    height: 16.66%;
    opacity: 0;
    animation-name: animate_box_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.unpurchased-box {
    color: #888;
    background: #555;
    cursor: pointer;
    transition: background .5s, color .5s;
}
.unpurchased-box:hover {
    background: #885;
    color: #fff;
    text-decoration: none;
    color: inherit;
}
