.page-container {
	background: #333;
	height: 100%;
	color: white;
}
.purchased-box {
	color: inherit !important;
	text-decoration: none !important;
}
.purchased-box:hover {
	cursor: pointer;
}
.stats {
	background: #666;
	padding: 10px;
}
.unpurchased-box, .purchased-box {
	text-align: center;
	font-size: 2em;
	color: inherit;
}
.unpurchased-box {
	color: #888;
	background: #555;
	height: 100px;
	cursor: pointer;
	transition: background .5s, color .5s;
}
.unpurchased-box:hover {
	background: #885;
	color: #fff;
	text-decoration: none;
	color: inherit;
}